@import "tailwindcss";

@theme inline {
  --color-brand-black: #161616;
  --color-brand-card: #1f1f1f;
  --color-brand-red: #e13131;
  --color-brand-red-hv: #c52222;
  --color-brand-white: #FFFFFF;

  --font-display: var(--font-libre-caslon-next);
  --font-body: var(--font-open-sans-next);
  --font-mono: var(--font-dm-mono);
  --font-open-sans: var(--font-open-sans-next);
  --font-libre-caslon: var(--font-libre-caslon-next);
}

::selection { 
  background: var(--color-brand-red); 
  color: var(--color-brand-white); 
}

/* Lenis Smooth Scroll Guidelines */
html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overflow: clip;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

html { 
  scroll-behavior: smooth; 
}

body { 
  background: var(--color-brand-black); 
  color: var(--color-brand-white); 
  font-family: var(--font-body);
}

::-webkit-scrollbar { 
  width: 4px; 
}

::-webkit-scrollbar-track { 
  background: var(--color-brand-black); 
}

::-webkit-scrollbar-thumb { 
  background: var(--color-brand-red); 
}
